<!DOCTYPE html>
<html ng-app="appSCP">
<head>
<base href="/" >
<meta charset="UTF-8" >
<title>SCP - Sistema de Cadastro de Produtos</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
</head>
	<body style="background-color:#fefefe;" >
	<div ng-include="'./view/menu.html'"></div>
	<div class="col-sm-2 col-md-4"></div>
	<div style="background-color:#fff;" class="col-sm-8 col-md-4">
		
		
		
		
		<div ng-view>
			<!-- 
				Aqui serão exibidas as páginas referentes aos produtos e fornecedores
			 -->
		</div>
		
		
		
	</div> 
	<div class="col-sm-2 col-md-4"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js" type="text/javascript"></script>
	<script src="./js/app.js" type="text/javascript"></script>
	<script src="./js/controller/produto-controller.js" type="text/javascript"></script>
	<script src="./js/controller/fornecedor-controller.js" type="text/javascript"></script>
	<script src="./js/controller/login-controller.js" type="text/javascript"></script>
	<script src="./js/interceptor/token-interceptor.js" type="text/javascript"></script>
</body>
</html>
